<h3>Spells meeting your criteria:</h3>

<% @spells.each do |s| %>
    <p><%= s.name %></p>
    <p><%= s.description %></p>
    <p><%= s.power_type %></p>
    <p><%= s.power_level %></p>
<% end %>