<% @spells.each do |s| %>
  <% if s.cat_id %>
    <p><%= link_to "#{s.name}", cat_path(s, :cat_id => s.cat_id)%></p>
  <% else %>
    <p><%= link_to "#{s.name}", spell_path(s, :spell_id => s.id)%></p>
  <% end %>
  <p><%= s.power_type %></p>
  <p><%= s.power_level %></p>
<% end %>
