<% @cats.each do |c| %>
  <div class="cat_index">
    <p class="cat_name"><%= link_to "#{c.name}", cat_path(c) %></p>
    <p class="cat_type_of"><%= c.type_of %></p>
    <p class="cat_age"><%= c.age %></p>
  </div>
<% end %>

<%= link_to "Back to User", user_path(:user_id) %>
